
<div class="container" id="page-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Poly-app</h1>
        <hr class="my-4">
        <p class="lead">
          Poly-app consists of the six apps from Udemy's 
          <%= link_to 'The Complete Ruby on Rails Developer Course', 
                      'https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/' %>.
        </p>
        <hr class="my-4">
        <p>
          Customization has been done to combine them into this single app.
        </p>
        <hr class="my-4">
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>
