<%= render "blog/layouts/navigation" %>

<div class="container-fluid" id="page-container">
  <span class="breadcrumb"> Blog </span>
  <h1 class="row justify-content-center mt-4">Edit Article</h1>
  <%= render 'form' %>
</div>
