
<footer id="stickey-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy;
      <%= link_to "Bruce Dickey", "https://linkedin.com/in/bruce-dickey", class: "text-white" %>
    </small>
  </div>
</footer>
