
<footer class="py-3 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright <!-- &copy; -->
      <%= Time.new.year %>,
      <%= link_to "Bruce Dickey", "https://linkedin.com/in/bruce-dickey", class: "text-white" %>,
      All Rights Reserved.
    </small>
  </div>
</footer>
